# .gitignore


node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

.env

logs
*.log
*.log.*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.grunt

.idea/

.vscode/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.pem
*.cert
*.key
*.bak
*.swp
*.swo
*.tmp
*.temp
